@tailwind base;
@tailwind components;
@tailwind utilities;

.background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: blur(100px);
  overflow: hidden;
}

.background-blur img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  transform: translate3d(70%, 70%, 60px);
}

.gradient-text {
  background: linear-gradient(89.97deg, #5762ff 1.84%, #e4a4ff 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
